<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=DESKTOP-Q96MKGC;Database=Tournaments;Trusted_Connection=True;Encrypt=True;TrustServerCertificate=True;" providerName = "Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>