<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\andre\source\repos\TournamentTrackerProject\TournamentTracker"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=DESKTOP-Q96MKGC;Database=Tournaments;Trusted_Connection=True;Encrypt=True;TrustServerCertificate=True;" providerName = "Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>